form{
    display: grid;
    grid-template-columns:  auto auto ;
    border: thin solid black;
}

h3,h5{
    text-align: center;
    color:crimson;
}


span{
    display: grid;
    grid-template-columns:  auto auto ;
    border: thin solid black;
}

#inpBtn{
    text-align: center;
    text-align-last: center;
    background-color: goldenrod; 
  
}